<!DOCTYPE html>
<html ng-app="shopifyChallengeApp">
  <head>
    <meta charset="utf-8">
    <title>Shopify Challenge</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <!-- <script type="text/javascript" src="search.js"></script> -->
  </head>
  <body ng-controller="ProductsController">

    <form ng-submit="getAllPagesProducts(5)" ng-hide="submitted">
      <ul class="list-group" ng-repeat="type in availableProductTypes">
        <label class="col-sm-3">
          <li class="list-group-item">
            <input type="checkbox" name="name" ng-value="{{type}}" ng-click="toggleSelection(type)">
            {{type}}
          </li>
        </label>
      </ul>
      <div class="col-md-4"></div>
        <input type="submit" id="submit" value="Search" class="col-md-4" ng-click="submit()">
    </form>

    <table class="table-hover table" ng-show="submitted">
      <thead>
        <th>Product Name</th>
        <th>Color / Variant</th>
        <th>Price</th>
      </thead>
      <tbody ng-repeat="product in products | filter: filterByProductType">
        <tr ng-repeat="variant in product.variants">
          <td>{{product.title}}</td>
          <td>{{variant.title}}</td>
          <td>{{variant.price | currency}}</td>
        </tr>
      </tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Before Tax:</td>
        <td> {{totalPrice | currency}}</td>
      </tr>
      <tr>
        <td></td>
        <td>Taxes:</td>
        <td> {{totalTax | currency}}</td>
      </tr>
      <tr>
        <td></td>
        <td>Total:</td>
        <td> {{totalPrice + totalTax | currency}}</td>
      </tr>
    </table>
  </body>
</html>
