<!DOCTYPE html>
<html ng-app="shopifyChallengeApp">
  <head>
    <meta charset="utf-8">
    <title>Shopify Challenge</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  <body ng-controller="ProductsController">
    {{arrays[0][0]}}
    <!-- {{products}} -->
    <ul>
      <li ng-repeat="array in arrays">
        <ul>
          <li ng-repeat="product in array | filter: {product_type: 'Clock'}">
            {{product.title}}
            <ul>
              <li ng-repeat="variant in product.variants">
                {{variant.price | currency}}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </body>
</html>
